.navcontainer{
    display:grid;
    grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
}
.navbutton{
    background-color: #EBE3CF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    height: 50%;
}

a{
    text-decoration: none;
    color: #696057;
}

h1{
    text-align: center;
    color: #696057;
}
h2{
    align-items: center;
    justify-content: center;
}
p{
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 20px;

}
